@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
html,
body {
	margin: 0;
	padding: 0;
	font-family: 'Merriweather', serif;
	background-color: #fcecdd;
	/* background-color: #e7e6e1;
	background-color: #e6e6e6;
     */
}
/* header start */
header {
	background-color: #334257;
}
/* navbar */
.navbar-brand {
	color: white;
}
.nav-link {
	color: white;
}
/* header end */

/* main start */

/* main end */

/* footer start */

/* footer end */
