body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  color: #3e3e3e;
}
h1 {
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  font-size: 70px;
}
.top-banner {
  background-color: #fff9f4;
}

.navbar img {
  width: 250px;
  height: 40px;
}
.nav-link {
  font-size: 15px;
  font-weight: bold;
  margin: 10px;
}

.banner-text1 {
  color: #fa804c;
}
.banner-text2 {
  color: #363958;
}
.button {
  /* text-decoration: none;
  color: white;
  background-color: coral;
  padding: 15px 25px;
  border-radius: 10px; */
  height: 3em;
  width: 8em;
  background-color: #3d4ff3;
  color: white;
  border: none;
  border-radius: 10px;
}

.shoe-container {
  border-radius: 20px;
}
.casual-shoe {
  background-color: #f1f1f1;
  border-radius: 20px;
  height: 300px;
}
