h1 {
  font-size: 70px;
  font-family: "Bebas Neue", cursive;
  color: #363958;
}
h5 {
  color: #363958;
  font-weight: bold;
  font-size: 24px;
}
p {
  font-family: "Roboto", sans-serif;
  color: grey;
}

.bag-font {
  font-family: "Roboto", sans-serif;
}
/* nav */
.top-section,
.middle-section {
  background-color: #ffe194;
}

.item-nav > ul > li {
  font-size: large;
  padding: 15px;
}

/* cart */
.shopping-cart {
  background-color: thistle;
  /* border: 2px solid green; */
}

.item-cart {
  background-color: white;
  border-radius: 15px;
}
.item-cart img {
  width: 120px;
  height: 120px;
  padding-right: 10px;
}

.cart-item {
  width: 100%;
}

.bag-container {
  border-radius: 20px;
}

.bag-card {
  border: 0;
}
.casual-bag {
  background-color: #f1f1f1;
  border-radius: 20px;
  height: 300px;
}
